pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="ns:projectType" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
  <xs:complexType name="buildType">
    <xs:sequence>
      <xs:element type="ns:pluginsType" name="plugins" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="repositoriesType">
    <xs:sequence>
      <xs:element type="ns:repositoryType" name="repository" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:element name="groupId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="org.springframework.cloud"/>
            <xs:enumeration value="org.springframework.boot"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="spring-cloud-starter-eureka"/>
            <xs:enumeration value="spring-cloud-starter-feign"/>
            <xs:enumeration value="spring-boot-starter-web"/>
            <xs:enumeration value="spring-boot-starter-test"/>
            <xs:enumeration value="spring-cloud-dependencies"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="version" minOccurs="0"/>
      <xs:element type="xs:string" name="type" minOccurs="0"/>
      <xs:element name="scope" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="test"/>
            <xs:enumeration value="import"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginType">
    <xs:sequence>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pluginsType">
    <xs:sequence>
      <xs:element type="ns:pluginType" name="plugin" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parentType">
    <xs:sequence>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="relativePath"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snapshotsType">
    <xs:sequence>
      <xs:element type="xs:string" name="enabled"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependencyManagementType">
    <xs:sequence>
      <xs:element type="ns:dependenciesType" name="dependencies" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="project.build.sourceEncoding"/>
      <xs:element type="xs:string" name="project.reporting.outputEncoding"/>
      <xs:element type="xs:string" name="java.version"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="repositoryType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="ns:snapshotsType" name="snapshots" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="xs:string" name="modelVersion"/>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="xs:string" name="packaging"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="ns:parentType" name="parent" xmlns:ns="http://maven.apache.org/POM/4.0.0">
        <xs:annotation>
          <xs:documentation>lookup parent from repository</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="ns:propertiesType" name="properties" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:dependenciesType" name="dependencies" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:dependencyManagementType" name="dependencyManagement" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:buildType" name="build" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:repositoriesType" name="repositories" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependenciesType">
    <xs:sequence>
      <xs:element type="ns:dependencyType" name="dependency" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>